ul {
  display: flex;
  padding: 1.5rem;
  flex-grow: 1;
  align-items: center;
}

li {
  font-size: 1.2rem;
  margin: 1.5rem;
}

p,
input {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffa3fd;
}

span {
  color: #ffa3fd;
}

.textCard {
  width: 50%;
  margin: auto;
}

.card {
  width: 70%;
}

.card-reverse {
  width: 89%;
}

#CardList {
  margin-top: 10rem;
}

.landing-body {
  background: linear-gradient(180deg, #191825 39.91%, #865dff 100%);
  height: 100%;
}

.login-body {
  background: url("assets/image/fondoLogin.svg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* Carousel Templates */
.carusel-template {
  width: 85%;
  margin: auto;
  margin-top: 10rem;
}

.carusel-template h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.carusel-template h2 {
  color: white;
  font-size: 2rem;
}

.item-carusel {
  background-color: #191825;
}

.text-carusel {
  margin-right: 5rem;
  margin-top: 4rem;
  width: 45%;
  float: right;
}

.text-carusel h4 {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #865dff;
  font-size: 2rem;
}

.text-carusel p {
  margin-bottom: 2rem;
}

.carusel-template img {
  width: 45%;
  height: auto;
  vertical-align: middle;
}

/* Footer */

/* CSS view Profile */
#mainProfile {
  background-color: #cccccc;
  height: 100vh;
  width: 100%;
}

.work-space {
  border-bottom: 2px solid #865dff;
  width: 90vw;
  margin: auto;
  & h6 {
    padding: 1rem;
  }
  & .list-changeView {
    padding: 0 1rem 1rem 1rem;
  }
}
