.textCard {
  width: 50%;
  margin: auto;
}

.card {
  width: 70%;
}

.card-reverse {
  width: 89%;
}

#CardList {
  margin-top: 10rem;
}

.landing-body {
  background: linear-gradient(180deg, #191825 39.91%, #865dff 100%);
  height: 100%;
}

.login-body {
  background: url("assets/image/fondoLogin.svg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.not-found-page {
  background: linear-gradient(180deg, #9678ef 38%, #cccccc 100%);
  height: 100vh;
}

/* Carousel Templates */
.carusel-template {
  width: 85%;
  margin: auto;
  margin-top: 10rem;
}

.carusel-template h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.carusel-template h2 {
  color: white;
  font-size: 2rem;
}

.item-carusel {
  background-color: #191825;
}

.text-carusel {
  margin-right: 5rem;
  margin-top: 4rem;
  width: 45%;
  float: right;
}

.text-carusel h4 {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #865dff;
  font-size: 2rem;
}

.text-carusel p {
  margin-bottom: 2rem;
}

.carusel-template img {
  width: 45%;
  height: auto;
  vertical-align: middle;
}

#mainProfile {
  background-color: #cccccc;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.work-space {
  border-bottom: 2px solid #865dff;
  width: 90vw;
  margin: auto;
  & h6 {
    padding: 1rem;
  }
  & .list-changeView {
    padding: 0 1rem 1rem 1rem;
  }
}

.img {
  display: block;
  margin: auto;
  width: 39%;
}

.GridView {
  width: 90vw !important;
  margin-top: 1px !important;
  margin: auto !important;
}

#long-menu {
  & ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

.div-more {
  margin-left: auto;
}

.ListView {
  width: 90vw !important;
  margin-top: 11rem !important;
  margin: auto !important;
  & #stack {
    margin-top: 1.5rem;
  }
}

#stack {
  color: black;
  & #stack-list {
    background-color: white;
    border-radius: 5px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

.alert-clipboard {
  width: 20%;
  position: fixed;
  bottom: 1rem;
  left: 40vw;
}

.form-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23vw;
  height: auto;
  border-radius: 15px;
  background-color: white;
  padding: 1rem;
}

#crear-form {
  background-color: #cccccc;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.ul-horizon {
  height: 99%;
  background: white;
  flex-direction: column;
  padding-bottom: 0 !important;
  width: 95%;
}

.ul-horizon #content-title {
  margin: 1rem 1rem;
}

.ul-horizon li {
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 1rem;
}

.ul-horizon button {
  padding: 0;
}

.ul-horizon div:hover {
  background-color: transparent;
}

.ul-horizon span {
  color: black !important;
}

.css-1rki8sg-MuiListItem-root.Mui-selected {
  background-color: #9678ef63 !important;
}

.orden-p {
  max-height: 25px;
  font-size: 1rem !important;
}

.form-Edit {
  background-color: rgb(243, 243, 243);
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  color: #191825;
}

.form-response {
  border: 2px solid black;
  flex-direction: column;
  padding: 2rem;
  display: flex;
  margin: 3rem auto;
  width: 50%;
}
