/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
}

* {
  font-family: Poppins, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  color: #865dff;
  margin-top: 0;
}

h1 {
  font-size: 4.3rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.3;
}

h3 {
  font-size: 2.62rem;
  line-height: 1.4;
}

h4 {
  font-size: 2rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.6;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.7;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

p {
  font-size: 1rem;
}

/*  Fin del reset */

ul {
  display: flex;
  padding: 1.5rem;
  flex-grow: 1;
  align-items: center;
}

li {
  font-size: 1.2rem;
  margin: 1.5rem;
}

p,
input {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffa3fd;
}

span {
  color: #ffa3fd;
}

footer {
  text-align: center;
  margin-top: 10rem;
  padding-bottom: 5rem;
}

footer p {
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.container-nav {
  max-width: 93.2% !important;
}

.text-center {
  text-align: center;
}

.button {
  color: white !important;
  background-color: #865dff !important;
  &:hover {
    background-color: #6340d1 !important;
  }
}

.button-black {
  color: black !important;
  &:hover {
    background-color: #9c80fa !important;
  }
}

.button-grey {
  color: black !important;
  background-color: #cccccc !important;
}

.button-view {
  background-color: #e384ff !important;
  color: white !important;
  margin-left: 0.2rem !important;
}

.button-view.Mui-selected {
  background-color: #865dff !important;
}

.link {
  color: white !important;
  text-decoration: none !important;
}

.link:focus {
  color: white !important;
}

.link-black {
  color: black !important;
  text-decoration: none !important;
}

.link-navEdi {
  color: #9c80fa !important;
  text-decoration: none !important;
  margin-right: 2.5rem !important;
}

.icon-white {
  color: white;
}

.icon-black {
  color: black;
}

.icon-red {
  &:hover {
    color: #ff00009c;
  }
}
