.landing-body {
  background: linear-gradient(180deg, #191825 39.91%, #865dff 100%);
}

/* Nav */
.navbar-btnLand {
  flex-direction: row-reverse;
}

/* Cards Landings */
.card-list-landig {
  width: 80%;
  text-align: center;
  margin: auto;
}

.card-landig {
  margin-bottom: 12rem;
}

.card-landig div {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-right: 10rem;
}

.card-landig:nth-child(1) div,
.card-landig:nth-child(3) div {
  width: 40%;
  margin-right: 5rem;
  margin-top: 10rem;
  margin-left: 6rem;
  float: right;
}

.card-list-landig div:last-child h2 {
  color: #ffa3fd;
}

.card-landig h2 {
  text-align: justify;
  font-size: 1.8rem;
}

.card-landig img {
  width: 38%;
  vertical-align: middle;
}

/* Carousel Templates */
.carusel-template {
  width: 80%;
  margin: auto;
}

.carusel-template h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.carusel-template h2 {
  color: white;
  font-size: 2rem;
}

.item-carusel {
  background-color: #191825;
}

.text-carusel {
  margin-right: 5rem;
  margin-top: 4rem;
  width: 45%;
  float: right;
}

.text-carusel h4 {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #865dff;
  font-size: 2rem;
}

.text-carusel p {
  margin-bottom: 2rem;
}

.carusel-template img {
  width: 45%;
  height: auto;
  vertical-align: middle;
}

/* Footer */
footer {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
}

footer h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

footer p {
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

/*  CSS view Login */
